.consultas {
  padding: 0 1rem; /* 16px / 16 */
  height: calc(100vh - 6.875rem - 3.625rem); /* 100vh - 110px - 58px */
  overflow-y: scroll;
}

.consultas__data {
  display: flex;
  align-items: center;
  height: 2.875rem; /* 46px / 16 */
}

.consultas ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consulta__card {
  background: var(--fundo-card);
  display: flex;
  flex-direction: column;
  width: 100%; /* Ajuste automático da largura */
  max-width: 20.5rem; /* 328px / 16 */
  height: 10rem; /* 160px / 16 */
  padding: 1rem 1rem 0; /* 16px / 16 */
  border-radius: 0.5rem; /* 8px / 16 */
  margin-bottom: 1rem; /* 16px / 16 */
}

.consulta__card-titulo {
  display: flex;
  justify-content: space-between;
}

.consulta__card-paciente {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem; /* 12px / 16 */
}

.consulta__card-paciente > img {
  width: 2rem; /* 32px / 16 */
  height: 2rem; /* 32px / 16 */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem; /* 16px / 16 */
}

.consulta__card-paciente > div {
  display: flex;
  flex-direction: column;
}

.consulta__card-titulo .consulta__card-chat {
  width: 2rem; /* 32px / 16 */
  height: 2rem; /* 32px / 16 */
  border-radius: 50%;
  border: none;
  background: var(--cinza-secundario);
  background-image: url('/images/Chat.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.consulta__card-paciente strong {
  font-size: 0.875rem; /* 14px / 16 */
}

.consulta__card-paciente span {
  font-size: 0.75rem; /* 12px / 16 */
  color: var(--texto-claro);
  display: flex;
  align-items: center;
}

.consulta__card-paciente span > span {
  width: 1rem; /* 16px / 16 */
  height: 1rem; /* 16px / 16 */
  margin-right: 0.25rem; /* 4px / 16 */
  background-repeat: no-repeat;
  background-position: center;
}

.consulta__card-paciente span > span.camera {
  background-image: url('/images/Camera.svg');
}

.consulta__card-paciente span > span.mapa {
  background-image: url('/images/Pin.svg');
}

.consulta__card-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 5.125rem; /* 82px / 16 */
  border-top: 1px solid #46464619;
}

.consulta__card-conteudo p {
  font-size: 0.75rem; /* 12px / 16 */
  margin: 0.5rem 0; /* 8px / 16 */
}

.consulta__card-acoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.consulta__card-acoes button {
  min-width: 8.75rem; /* 140px / 16 */
  width: 100%;
  height: 3rem; /* 48px / 16 */
  border-radius: 0.5rem; /* 8px / 16 */
  padding: 0.8125rem 1rem; /* 13px 16px / 16 */
  margin-right: 1rem; /* 16px / 16 */
  font-weight: 500;
  font-size: 0.875rem; /* 14px / 16 */
}

.consulta__card-acoes button:only-of-type {
  margin: 0;
}